language/src/privacy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/privacy"
	xmlns:tns="http://www.example.org/privacy" elementFormDefault="qualified"
	attributeFormDefault="unqualified">

	<!-- Elements which have an identifier should be of this type -->
	<complexType name="identifiedObjectType">
		<attribute name="id" use="required" type="NCName"></attribute>
	</complexType>

	<!-- Elements which refer to an identifier should be of this type -->
	<complexType name="objectRefType">
		<attribute name="refid" use="required" type="NCName"></attribute>
	</complexType>

	<!-- Identified Elements which have descriptions should be of this type -->
	<complexType name="describedObjectType">
		<complexContent>
			<extension base="tns:identifiedObjectType">
				<sequence>
					<element name="short-description" minOccurs="0" maxOccurs="1"></element>
					<element name="long-description" minOccurs="0" maxOccurs="1"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>

	<!-- Elements which can participate in a hierarchy should have this type -->
	<complexType name="hierarchicalType">
		<complexContent>
			<extension base="tns:describedObjectType">
				<attribute name="parent" use="optional" type="NCName"></attribute>
			</extension>
		</complexContent>
	</complexType>



	<!-- Contact information -->
	<complexType name="contactInfoType">
		<sequence>
			<element name="name" type="string" minOccurs="1" maxOccurs="1"></element>
			<element name="organization" type="string" minOccurs="1"
				maxOccurs="1"></element>
			<element name="e-mail" type="string" minOccurs="1" maxOccurs="1"></element>
			<element name="address" type="string" minOccurs="1"
				maxOccurs="1"></element>
			<element name="country" type="string" minOccurs="1"
				maxOccurs="1"></element>
		</sequence>
	</complexType>


	<!-- Information on a policy or a vocabulary -->
	<complexType name="infoType">
		<complexContent>
			<extension base="tns:describedObjectType">
				<sequence>
					<element name="issuer" minOccurs="0" maxOccurs="1"
						type="tns:contactInfoType"></element>
					<element name="location" minOccurs="0" maxOccurs="1" type="anyURI"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="userCategoryContainerType">
		<complexContent>
			<extension base="tns:describedObjectType">
				<sequence>
					<element name="user-category" minOccurs="0" maxOccurs="unbounded"
						type="tns:hierarchicalType"></element>
				</sequence>
				<attribute name="base" type="NCName"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="dataCategoryContainerType">
		<complexContent>
			<extension base="tns:describedObjectType">
				<sequence>

					<element name="data-category" minOccurs="0" maxOccurs="unbounded">
						<complexType>
							<complexContent>
								<extension base="tns:hierarchicalType">
									<sequence>
										<element name="desensitize-operation" minOccurs="0"
											maxOccurs="1">
											<complexType>
												<sequence>
													<element name="UDF" type="NCName" minOccurs="1"
														maxOccurs="unbounded"></element>
												</sequence>
											</complexType>
										</element>
									</sequence>
								</extension>
							</complexContent>
						</complexType>

						<unique name="uniqueDesensitizeOperation">
							<selector xpath="tns:desensitize-operation"></selector>
							<field xpath="tns:UDF"></field>
						</unique>

					</element>
				</sequence>
				<attribute name="base" type="NCName"></attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="dataCategoryRefType">
		<complexContent>
			<extension base="tns:objectRefType">
				<attribute name="action" default="all">
					<simpleType>
						<restriction base="string">
							<enumeration value="all"></enumeration>
							<enumeration value="project"></enumeration>
							<enumeration value="test"></enumeration>
						</restriction>
					</simpleType>
				</attribute>
			</extension>
		</complexContent>
	</complexType>

	<complexType name="dataAssociationType">
		<sequence>
			<element name="data-category-ref" type="tns:dataCategoryRefType"
				minOccurs="2" maxOccurs="unbounded"></element>
		</sequence>
	</complexType>

	<complexType name="baseRulingType" abstract="true">
		<complexContent>
			<extension base="tns:describedObjectType">
				<sequence>
					<element name="user-category-ref" type="tns:objectRefType"
						minOccurs="1" maxOccurs="unbounded"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>



	<complexType name="rulingType">
		<complexContent>
			<extension base="tns:baseRulingType">
				<sequence>
					<element name="data-category-ref" type="tns:dataCategoryRefType"
						minOccurs="0" maxOccurs="unbounded"></element>
					<element name="data-association" type="tns:dataAssociationType"
						minOccurs="0" maxOccurs="unbounded"></element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>


	<complexType name="restrictType">
		<annotation>
			<documentation>
				If only data-category-ref appears in the rule, then
				restriction should not contain data-category-ref.
				Otherwise
				data-association appears in the rule, then restriction must
				explicitly specify which data-category is restricted.
			</documentation>
		</annotation>
		<complexContent>
			<extension base="tns:baseRulingType">
				<sequence>
					<choice>
						<element name="data-category-ref" type="tns:dataCategoryRefType"
							minOccurs="1" maxOccurs="unbounded"></element>
						<element name="data-association" type="tns:dataAssociationType"></element>
					</choice>
					<element name="restriction">
						<complexType>
							<sequence>
								<element name="desensitize" minOccurs="1" maxOccurs="unbounded">
									<complexType>
										<sequence>
											<element name="data-category-ref" type="tns:objectRefType"
												minOccurs="0">
											</element>
											<element name="UDF" type="NCName" minOccurs="0"
												maxOccurs="unbounded"></element>
										</sequence>
									</complexType>
									<unique name="uniqueDesensitizeUDF">
										<selector xpath=".">
										</selector>
										<field xpath="tns:UDF"></field>
									</unique>
								</element>
							</sequence>
						</complexType>

						<unique name="uniqueRestrictedDataCategory">
							<selector xpath="tns:desensitize/tns:data-category-ref"></selector>
							<field xpath="@refid"></field>
						</unique>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<element name="vocabulary">
		<complexType>
			<sequence>
				<element name="vocabulary-information" minOccurs="1"
					maxOccurs="1" type="tns:infoType"></element>
				<element name="user-category-container" type="tns:userCategoryContainerType"
					minOccurs="0" maxOccurs="unbounded">
					<key name="user-category-identifier">
						<selector xpath="tns:user-category"></selector>
						<field xpath="@id"></field>
					</key>
				</element>
				<element name="data-category-container" type="tns:dataCategoryContainerType"
					minOccurs="0" maxOccurs="unbounded">
					<key name="data-category-identifier">
						<selector xpath="tns:data-category"></selector>
						<field xpath="@id"></field>
					</key>
				</element>
			</sequence>
			<attribute name="base" use="optional" type="anyURI"></attribute>
		</complexType>
	</element>




	<element name="privacy-policy">
		<complexType>
			<sequence>
				<element name="policy-information" minOccurs="1" maxOccurs="1"
					type="tns:infoType"></element>

				<element name="vocabulary-ref">
					<complexType>
						<sequence>
							<element name="user-category-container" type="tns:objectRefType"></element>
							<element name="data-category-container" type="tns:objectRefType"></element>
						</sequence>
						<attribute name="location" type="anyURI"></attribute>
					</complexType>
				</element>
				<element name="rules">
					<complexType>
						<sequence>
							<choice minOccurs="1" maxOccurs="unbounded">
								<element name="allow" type="tns:rulingType">
									<unique name="uniqueAllowUserCategory">
										<selector xpath="tns:user-category-ref">
										</selector>
										<field xpath="@refid"></field>
									</unique>
									<unique name="uniqueAllowDataCategory">
										<selector xpath="tns:data-category-ref">
										</selector>
										<field xpath="@refid"></field>
									</unique>
								</element>
								<element name="deny" type="tns:rulingType">
									<unique name="uniqueDenyUserCategory">
										<selector xpath="tns:user-category-ref">
										</selector>
										<field xpath="@refid"></field>
									</unique>
									<unique name="uniqueDenyDataCategory">
										<selector xpath="tns:data-category-ref">
										</selector>
										<field xpath="@refid"></field>
									</unique>
								</element>
								<element name="restrict" type="tns:restrictType">
									<unique name="uniqueRestrictUserCategory">
										<selector xpath="tns:user-category-ref">
										</selector>
										<field xpath="@refid"></field>
									</unique>
									<unique name="uniqueRestrictwDataCategory">
										<selector xpath="tns:data-category-ref">
										</selector>
										<field xpath="@refid"></field>
									</unique>
								</element>
							</choice>
						</sequence>
					</complexType>
				</element>
			</sequence>

			<attribute name="default-ruling" use="required">
				<simpleType>
					<restriction base="string">
						<enumeration value="allow" />
						<enumeration value="deny" />
					</restriction>
				</simpleType>
			</attribute>
		</complexType>

		<!-- Rule id's must be unique within a policy -->
		<unique name="uniqueRuleId">
			<selector xpath="./tns:rule" />
			<field xpath="@id" />
		</unique>
	</element>


</schema>